#### 이상치를 찾아라(소수점 나이)
주어진 데이터에서 이상치(소수점 나이)를 찾고 올림, 내림, 버림(절사)했을때 3가지 모두 이상치 'age' 평균을 구한 다음 모두 더하여 출력하시오
- 데이터셋 : basic1.csv

In [6]:
import os 
from os.path import join

import pandas as pd
import numpy as np

In [4]:
file_Nm = join('data', 'basic1.csv')
df = pd.read_csv(file_Nm)
df.head(3)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

In [7]:
# 소수점 나이 찾기

df_out = df[(df['age'] - np.floor(df['age'])) != 0]
df_out

      id   age city    f1  f2   f3    f4         f5
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
8   id09   3.3   서울  35.0   2  NaN  ESFJ  17.252986
21  id22  -6.3   부산  72.0   1  NaN  ENFP  52.667078
28  id29 -13.5   부산  47.0   2  NaN  ENTP  67.886373
46  id47  34.6   대구  75.0   1  NaN  ESTJ  90.496999
64  id65  26.5   경기   NaN   0  NaN  ISFP  91.297791
84  id85  83.6   경기  55.0   0  NaN  INFJ  80.138280
92  id93  21.8   경기  57.0   0  NaN  ISFP  73.586397

In [8]:
# 올림
df_ceil = np.ceil(df_out['age']).mean()
print(df_ceil)

#내림
df_floor = np.floor(df_out['age']).mean()
print(df_floor)

#절사
df_trunc = np.trunc(df_out['age']).mean()
print(df_trunc)

23.75
22.75
23.0

In [9]:
print(df_ceil + df_floor + df_trunc)

69.5