In [1]:
import os
from os.path import join

import pandas as pd

In [18]:
file_NM = join('data', 'basic1.csv')
df = pd.read_csv(file_NM)
df.head(5)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

#### 1. 첫번째 데이터 부터 순서대로 50:50으로 데이터를 나누고, 앞에서 부터 50%의 데이터(이하, A그룹)는 'f1'컬럼을 A그룹의 중앙값으로 채우고, 뒤에서부터 50% 데이터(이하, B그룹)는 'f1'컬럼을 B그룹의 최대값으로 채운 후, A그룹과 B그룹의 표준편차 합을 구하시오
단, 소수점 첫째자리까지 구하시오 (둘째자리에서 반올림)

In [19]:
# 데이터를 순서대로 50:50으로 나누기
dfA = df[:50]
dfB = df[50:]
dfA.shape, dfB.shape

((50, 8), (50, 8))

In [22]:
# A그룹은 f1의중앙값으로 채우고
midA = dfA['f1'].median()
dfA['f1'] = dfA['f1'].fillna(midA)
# B그룹은 f1의 최대값
midB = dfB['f1'].max()
dfB['f1'] = dfB['f1'].fillna(midB)

C:\Users\kki96\AppData\Local\Temp/ipykernel_1624/1708253297.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfA['f1'] = dfA['f1'].fillna(midA)
C:\Users\kki96\AppData\Local\Temp/ipykernel_1624/1708253297.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfB['f1'] = dfB['f1'].fillna(midB)

In [26]:
round(dfA['f1'].std() + dfB['f1'].std(), 1)

42.0

#### 2. 'f4'컬럼을 기준 내림차순 정렬과 'f5'컬럼기준 오름차순 정렬을 순서대로 다중 조건 정렬하고나서 앞에서부터 10개의 데이터 중 'f5'컬럼의 최소값 찾고, 이 최소값으로 앞에서 부터 10개의 'f5'컬럼 데이터를 변경함. 그리고 'f5'컬럼의 평균값을 계산함

단 소수점 둘째자리까지 출력(셋째자리에서 반올림)

In [32]:
df = df.sort_values(['f4', 'f5'], ascending=[False, True])
df.head(5)

     id   age city    f1  f2   f3    f4         f5
0  id43  23.0   대구  60.0   0  NaN  ISTP  29.269869
1  id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184
2  id17  74.0   서울   NaN   1  NaN  ISTP  67.886373
3  id23  34.0   부산  75.0   1  NaN  ISTP  69.730313
4  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

In [37]:
df['f5'][:10].min()
df['f5'][:10] = df['f5'][:10].min()
df['f5'][:10]

C:\Users\kki96\AppData\Local\Temp/ipykernel_1624/3183287863.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['f5'][:10] = df['f5'][:10].min()

0    17.252986
1    17.252986
2    17.252986
3    17.252986
4    17.252986
5    17.252986
6    17.252986
7    17.252986
8    17.252986
9    17.252986
Name: f5, dtype: float64

In [39]:
round(df['f5'].mean(), 2)

53.63

#### 3. 'age' 컬럼의 IQR방식을 이용한 이상치 수와 표준편차*1.5방식을 이용한 이상치 수 합을 구하시오
IQR방식 : Q1 - 1.5 IQR, Q3 + 1.5 IQR에서 벗어나는 영역을 이상치라고 판단함 (Q1은 데이터의 25%, Q3는 데이터의 75% 지점임)

표준편차1.5방식: 평균으로부터 '표준편차1.5'를 벗어나는 영역을 이상치라고 판단함

In [41]:
df = pd.read_csv(file_NM)
df.head(5)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [49]:
Q1 = df['age'].quantile(.25)
Q3 = df['age'].quantile(.75)
IQR = Q3 - Q1
mn_iqr = Q1 - (1.5*IQR)
mx_iqr = Q3 + (1.5*IQR)
print(mn_iqr, mx_iqr)

-48.3125 152.1875

In [52]:
min_os = df['age'].mean() - (1.5*df['age'].std())
max_os = df['age'].mean() + (1.5*df['age'].std())
print(min_os, max_os)

5.298862216116952 96.62713778388306

In [62]:
out1 = len(df[(df['age'] < mn_iqr)|(df['age'] > mx_iqr)])

In [63]:
out2 = len(df[(df['age'] < min_os)|(df['age'] > max_os)])

In [64]:
print(out1+out2)

14