#### 나이 구간 나누기
basic1 데이터 중 'age'컬럼 이상치를 제거하고, 동일한 개수로 나이 순으로 3그룹으로 나눈 뒤 각 그룹의 중앙값을 더하시오

(이상치는 음수(0포함), 소수점 값)
- data: basic1.csv

In [2]:
import os
from os.path import join

import pandas as pd

In [3]:
file_NM = join('data', 'basic1.csv')
df = pd.read_csv(file_NM)
df.head(3)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

In [15]:
# age 컬럼의 이상치 제거(음수, 0, 소수점)
df = df[df['age'] > 0] #음수와 0 제거
df = df[df['age'] == round(df['age'], 0)] # 소수점

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[90 rows x 8 columns]

In [21]:
# 동일한 개수 3그룹
pd.qcut(df['age'], q = 3)

df['label'] = pd.qcut(df['age'], q = 3, labels=['g1', 'g2', 'g3'])
df
df['label'].value_counts()

g1    30
g2    30
g3    30
Name: label, dtype: int64

In [24]:
# 각 그룹의 중앙값의 합
df_g1 = df[df['label'] == 'g1']['age'].median()
df_g2 = df[df['label'] == 'g2']['age'].median()
df_g3 = df[df['label'] == 'g3']['age'].median()

In [27]:
print(df_g1+df_g2+df_g3)

165.0