#### 결측치 처리
주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!
- 데이터셋 : basic1.csv

In [15]:
import os 
from os.path import join

import pandas as pd
import numpy as np

In [16]:
file_Nm = join('data', 'basic1.csv')
df = pd.read_csv(file_Nm)
df.head(3)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

In [17]:
# 결측치가 80% 이상 되는 컬럼

print((df.isnull().sum()/len(df))*100)

# => f3

id       0.0
age      0.0
city     0.0
f1      31.0
f2       0.0
f3      95.0
f4       0.0
f5       0.0
dtype: float64

In [18]:
# 삭제
df = df.drop(['f3'], axis = 1)
df.shape

(100, 7)

In [28]:
# 80% 미만인 결측치가 있는 컬럼 => f1
df.isnull().sum()

# 'city'별 중앙값으로 값을 대체
df.groupby(df['city'])['f1'].median()

k, d, b, s = df.groupby(df['city'])['f1'].median()

df['f1'] = df['f1'].fillna(df['city'].map({'서울':s, '대구':d, '부산':b, '경기':k}))
# 'f1'컬럼의 평균값을 출력
df['f1'].mean()

65.52