#### min-max스케일링 기준 상하위 5% 구하기
주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오

- 데이터셋 : basic1.csv

In [1]:
import os 
from os.path import join

import pandas as pd
import numpy as np

In [3]:
file_Nm = join('data', 'basic1.csv')
df = pd.read_csv(file_Nm)
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [6]:
from sklearn.preprocessing import minmax_scale

df['f5'] = minmax_scale(df['f5'])

In [9]:
df['f5'].quantile(0.05) + df['f5'].quantile(0.95)

1.0248740983597389