#### 조건에 맞는 데이터 표준편차 구하기
주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오
- 데이터셋 : basic1.csv

In [2]:
import os 
from os.path import join

import pandas as pd
import numpy as np

In [3]:
file_Nm = join('data', 'basic1.csv')
df = pd.read_csv(file_Nm)
df.head(3)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

In [4]:
# 분리
df_ENFJ = df[df['f4'] == 'ENFJ']
df_INFP = df[df['f4'] == 'INFP']

In [7]:
# 표준편차
std_ENFJ = df_ENFJ['f1'].std()
std_INFP = df_INFP['f1'].std()

In [8]:
print(np.abs(std_ENFJ - std_INFP))

5.859621525876811